/* this css is compulsary */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns{
    padding: 1rem;
    background-color: red !important;
    
}

.main_btns{
    display: flex;
    justify-content: space-around;

}

.head{
    padding: 5rem !important;
    text-align: center !important;
    color: brown !important;
    font-weight: 900 !important;
}
.head:hover{
    color: aliceblue !important;
}

