/* this css is compulsary */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns{
    padding: 1rem;
    background-color: red !important;
    
}

.main_btns{
    display: flex;
    justify-content: space-around;

}

